@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 20px #ff0000;
    padding: 20px;
}

.login-box {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 20px #ff0000;
}

.welcome-back {
    width: 400px;
    padding: 20px;
    text-align: left;
}

.welcome-back h1 {
    color: #ff0000;
    font-size: 24px;
    margin-bottom: 10px;
}

.welcome-back p {
    color: #fff;
    font-size: 18px;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #444;
    padding: 5px;
    border-radius: 5px;
    background-color: #333;
}

.input-group label {
    margin-right: 10px;
    color: #888;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #cc0000;
}

.additional-links {
    margin-top: 15px;
    color: #888;
}

.additional-links a {
    color: #ff0000;
    text-decoration: none;
}

.additional-links a:hover {
    text-decoration: underline;
}
